
<div fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card *ngFor="let budget of budgets" fxLayout="column" fxFlex="400px" style="margin: 1em">
        <mat-card-header>
            <mat-card-title>{{budget.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="budget-card-content">
            <p>{{budget.description}}</p>

            <small>Owner: {{budget.owner}}</small>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="stretch">
            <a mat-raised-button fxFlex="40%" color="primary" [routerLink]="['budgets', budget._id]">Open</a>
            <button mat-raised-button  fxFlex="30%" disabled="true">Edit</button>
            <button mat-raised-button  fxFlex="30%" color="warn" (click)="deleteBudget(budget)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>
