<h1 mat-dialog-header>Add/Edit Budget</h1>

<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="budgetForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <div fxLayoutAlign="space-between">
      <h3>Accounts</h3>
      <button mat-button color="accent" (click)="addAccount()">+</button>
    </div>

    <div fxLayoutAlign="space-between" *ngFor="let account of accounts.controls; index as idx">
      <mat-form-field fxFlex="80%">
        <mat-label>Account {{idx+1}}</mat-label>
        <input matInput [formControl]="account">
      </mat-form-field>
      <button mat-button color="warn" (click)="removeAccount(idx)">-</button>
    </div>

    <p *ngIf="accounts.length<=0" style="text-align: center">Kein Account hinzugefügt. Mindestens 1 Account ist erforderlich!</p>
  </form>
</div>
<div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="accounts.length<=0" (click)="onSubmit()">OK</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>