<mat-accordion *ngIf="!!payments">

  <mat-expansion-panel *ngFor="let payment of payments" class="payment-item">
    <mat-expansion-panel-header>
      <mat-panel-description class="payment-item_header">
        <div>{{payment.date | date: 'mediumDate'}}</div>
        <div>{{payment.name}}</div>
        <div [ngClass]="{'positive-currency-text': payment.amount>=0, 'negative-currency-text': payment.amount<0}">{{payment.amount | currency: '€'}}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>{{payment.description}}</p>
    <mat-action-row>
      <button mat-flat-button color="warn" (click)="editPayment(payment)">Edit</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
