/* You can add global styles to this file, and also import other style files */

@import './assets/scss/grid';
@import './assets/scss/variables';
@import './assets/scss/theming.scss';

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #303030;
}

.negative-currency-text {
  color: $negative-currency-color;
}

.positive-currency-text {
  color: $positive-currency-color;
}
