<mat-tab-group  mat-align-tabs="center" *ngIf="!!budget">
  <mat-tab *ngFor="let account of accounts">
    <ng-template mat-tab-label>
      <mat-icon>account_balance</mat-icon>
      {{account.name}}
    </ng-template>

    <div>
      <h1>{{account.name}}</h1>
      <h2 [ngClass]="{'positive-currency-text': account.totalAmount>=0, 'negative-currency-text': account.totalAmount<0}">{{account.totalAmount | currency: '€'}}</h2>
    </div>

    <div>
      <app-payment-list [account]="account"></app-payment-list>
    </div>
  </mat-tab>
</mat-tab-group>
