<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Budget-Planner</h1>

    <span fxFlex="1 1 auto"></span>

    <button mat-button color="accent" [disabled]="!focusedBudget" (click)="addPaymentDialog()">
      <mat-icon>add_circle</mat-icon>
      Payment
    </button>
    <button mat-button color="basic"  [disabled]="!focusedBudget">
      <mat-icon>person_add</mat-icon>
      Invide
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="false">
    <mat-nav-list>
      <mat-list-item>Dashboard</mat-list-item>
      <div mat-subheader>Budgets</div>
        <a mat-list-item href="#">All</a>
        <a mat-list-item [routerLink]="['budgets', budget._id]" *ngFor="let budget of budgets">{{budget.name}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
